# Ігноруємо node_modules, оскільки їх можна перевстановити під час зборки
node_modules
# Ігноруємо локальні налаштування та середовища
.env
.env.local
# Ігноруємо папки, які не потрібні для запуску
logs
tmp
dist
build
# Ігноруємо файли Git
.git
.gitignore
# Ігноруємо IDE файли
*.log
*.lock
*.tmp
*.swp
.DS_Store
